.repo-stats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(106, 115, 125);
}

.repo-left-stat {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
}

.language-color {
  width: 10px;
  height: 10px;
  background-color: blue;
  margin-right: 0.25rem;
  border-radius: 100%;
}

.repo-left-stat span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.75rem;
}

.repo-name-div {
  display: flex;
  align-items: center;
}

.repo-svg {
  margin-right: 0.5rem;
  min-width: 16px;
}

.repo-name {
  white-space: normal;
  line-height: 1.2;
  text-overflow: ellipsis;
  color: rgb(36, 41, 46);
  font-family: "Google Sans Regular";
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  margin: 0px;
}

.project-title-glow {
  color: #ffffff !important;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
}

.repo-star-svg {
  margin-right: 0.3rem;
}

.repo-description {
  font-size: 22px; /* DESKTOP FONT SIZE */
  word-wrap: break-word;
  text-align: justify;
  display: block; 
  font-family: "Google Sans Regular";
  margin-top: 15px;
}

.repo-details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.repo-creation-date {
  margin: 0;
  font-family: "Google Sans Regular";
  font-weight: 400;
  margin-left: 0px;
  margin-right: auto;
}

@media (max-width: 768px) {
  .repo-name {
    font-size: 20px;
  }
  
  .repo-description {
    font-size: 16px; /* MOBILE FONT SIZE */
  }
  
  .repo-details {
    flex-direction: column;
  }
}