.specialisation-main {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.specialisation-heading-text {
  font-size: 56px; /* DESKTOP HEADING SIZE */
  font-weight: 400;
  font-family: "Google Sans Medium";
  margin-top: 0px;
  text-align: center;
}

.specialisation-cards-div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 60px 40px;
}

.awards-section {
  margin-top: 120px;
  margin-bottom: 50px;
}

@media (max-width: 1380px) {
  .specialisation-heading-text {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .specialisation-heading-text {
    font-size: 30px; /* MOBILE HEADING SIZE */
    margin-top: 20px;
  }
  
  .specialisation-cards-div {
    margin: 30px 10px;
    gap: 30px;
  }
  
  .awards-section {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}